__pycache__/

.ipynb_checkpoints/

.idea/

# venv/

AI_Source/AI_01/6_1_OpenCV/OpenPose/file/

OpenCV/

YOLOv5/

ML/

DL/

AI_Source/AI_01/6_DeepLearning/Mnist_test/

AI_Source/AI_01/6_DeepLearning/source/